<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title>Home Page</title>

    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">

</head>

<body>
<h1>Home Page</h1>

<p>Hello to the home page!</p>

<p>
    User:
    <th:block sec:authentication="name"/>
    <br/>
    Role(s):
    <th:block sec:authentication="principal.authorities"/>
</p>

<th:block sec:authorize="hasAuthority('ADMIN')">
    <a th:href="@{/admin}">Admin Portal</a>
</th:block>

<form th:action="@{/logout}" method="post">
    <input type="submit" value="Logout"/>
</form>

<div class="container-fluid">
<table class="table">

    <thead class="thead-dark">
    <tr>
        <th scope="col" >First name</th>
        <th scope="col">Last Name</th>
        <th scope="col">Phone</th>
        <th scope="col">Bills</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="sub : ${subs}">
        <td th:text="${sub.firstName}"></td>
        <td th:text="${sub.lastName}"></td>
        <td th:text="${sub.phoneNumber}"></td>
    </tr>
    </tbody>
</table>
</div>

<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
</body>
</html>
