<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title>Home Page</title>
</head>

<body>
<h1>Home Page</h1>

<p>Hello to the home page!</p>

<p>
    User:<th:block sec:authentication="name" />
    <br />
    Role(s):<th:block sec:authentication="principal.authorities" />
</p>

<th:block sec:authorize="hasAuthority('ADMIN')">
    <a th:href="@{/admin}">Admin Portal</a>
</th:block>

<form th:action="@{/logout}" method="post">
    <input type="submit" value="Logout" />
</form>

<table class="table">

    <tr>
        <th>First name</th>
        <th>Last Name</th>
        <th>Phone</th>
        <th>Bills</th>
    </tr>

    <tr th:each="sub : ${subs}">
        <td th:text="${sub.firstName}"></td>
        <td th:text="${sub.lastName}"></td>
        <td th:text="${sub.phoneNumber}"></td>
        <td>
            <div th:each="bill: ${bills}">
                <p th:text="${bill.service}"></p>
            </div>
        </td>
    </tr>

</table>

</body>
</html>
