<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">

<head>
    <meta charset="UTF-8">
    <title>Puppies Login</title>

    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <link rel="stylesheet" th:href="@{css/login.css}">
</head>
<body>

<header>
    <div class="mt-3 text-center">
        <h1 class="text-white display-3">New Generation Puppies Application</h1>

        <i th:if="${param.error}" class="error">Wrong username or password</i>
        <i th:if="${param.logout}">You have been logged out.</i>

    </div>
</header>
<div class="login-page">
    <div class="form">
        <form class="register-form">
            <p class="text-center">Recover Your Account</p>
            <input type="text" placeholder="email address"/>
            <input type="submit" value="Send">
            <p class="message">Already registered?
                <a href="javascript:void(0)">Sign In</a>
            </p>
        </form>
        <form class="login-form" th:action="@{/authenticateUser}" method="post">
            <p class="text-center">Login</p>
            <input type="text" placeholder="username" name="username"/>
            <input type="password" placeholder="password" name="password"/>
            <input type="submit" value="Sign in">
            <p class="message">Forgot your registered?
                <a href="javascript:void(0)">Find an account</a>
            </p>
        </form>
    </div>
</div>
<script th:src="@{js/login.js}"></script>
</body>

</html>